* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img {
    width: 80%;
    height: 100%;
    object-fit: cover;
}

.right {
    flex: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    width: 800%;
    max-width: 350px;
    text-align: center;
}

.logo {
    width: 300px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    font-weight: bold;
    text-align: left;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #999;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #5ec3e6;
    color: #000;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #47a4c4;
}

.cadastro {
    margin-top: 15px;
    font-size: 14px;
}

.cadastro a {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.icon {
    margin-right: 5px;
}
