body {
    background: #f9f9f9;
    font-family: Arial, sans-serif;
}

/* Topbar */
.topbar {
    background: #d86b6b;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.search-bar {
    flex-grow: 1;
    margin: 0 20px;
}

.search-bar input {
    width: 100%;
    border-radius: 20px;
    border: none;
    padding: 6px 12px;
}

.top-icons i {
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
    color: white;
}

.top-icons i:hover {
    color: #e6e6e6;
}

/* Filtros */
.filtros {
    padding: 15px;
    display: flex;
    gap: 10px;
}

/* Card de vaga */
.vaga-card {
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ccc;
}

.vaga-header {
    display: flex;
    align-items: center;
}

.vaga-header img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 15px;
}

.vaga-header h6 {
    margin: 0;
    font-weight: bold;
}

.container{
    margin-top: 3%;
}
